body {
  background-color: black;
  padding: 0;
  margin: 0;
}
* {
  font-size: 16px;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --frame-height: 70vh;
  --slider-number: 4;
  --bg-color: black;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.slider {  
  overflow: hidden;
  width: var(--frame-width);
  border: solid 3px rgb(53, 52, 52);
  border-radius: 1rem;
  box-sizing: border-box;
}

.list {
  width: var(--slider-width);
  display: grid;
  grid-template-columns: repeat(var(--slider-number), var(--frame-width));
  transition: 3s;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.list__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

 .list__item-img {
   height: 100%;
   width: auto;
 }
 #slide1 {
   background-color: #56413a;
 }
 #slide3 {
   background-color: #c7b1a3;
 }
 #slide2, #slide4 {
   background-color: #fff;
 }

input[type='radio'] {
  width:0;
  height:0;
  margin: 0;
  grid-row-start: 1;
  grid-row-end: 1;
}

#inp1:checked ~ .list {
  transform: translateX(0%);
}
#inp2:checked ~ .list {
  transform: translateX(calc(-1 * var(--frame-width)));
} 
#inp3:checked ~ .list {
  transform: translateX(calc(-2 * var(--frame-width)));
}
#inp4:checked ~ .list {
  transform: translateX(calc(-3 * var(--frame-width)));
}

.nav {
  display: flex;
  align-items: center;

  background-color: var(--bg-color);
  box-sizing: border-box;
}

label {  
  width: min(25%, 3rem);
  padding: 1rem .5rem;
  cursor: pointer;
}

label:hover .dot {
  background-color: brown;
}

.dot {
  width: min(100%, 2rem);
  height: min(100%, 2rem);
  aspect-ratio: 1/1;
  background-color: beige;
  border: solid 3px brown;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#inp1:checked ~ .nav .label__slide1 .dot,
#inp2:checked ~ .nav .label__slide2 .dot,
#inp3:checked ~ .nav .label__slide3 .dot,
#inp4:checked ~ .nav .label__slide4 .dot {
  background-color: transparent;
}

#inp1:checked:hover ~ .nav .label__slide1 .dot,
#inp2:checked:hover ~ .nav .label__slide2 .dot,
#inp3:checked:hover ~ .nav .label__slide3 .dot,
#inp4:checked:hover ~ .nav .label__slide4 .dot {
  border-color: beige;
}

.message {
  width: var(--message-width);
  display: grid;
  grid-template-columns: repeat(var(--slider-number), var(--message-li-width));
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 3s;
}
.message__li {
  width: var(--message-li-width);
  margin: 0;  
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 0 1.6rem;
}

#inp1:checked ~ .message {
  transform: translateX(0%);
}

#inp2:checked ~ .message {
  transform: translateX(calc(-1 * var(--message-frame)));
}

#inp3:checked ~ .message {
  transform: translateX(calc(-2 * var(--message-frame)));
}

#inp4:checked ~ .message {
  transform: translateX(calc(-3 * var(--message-frame)));
}

@media screen and (min-width: 1151px) {
  .list__item-img {
    height: 100%;
    max-height: 70vh;
    width: auto;
  }
}

@media screen and (max-width: 1150px) and (min-width: 768px) {
  .list__item-img {
    height: auto;
    width: min(100%, 70vh);
  }
}

@media screen and (min-width: 768px) {
  :root {
    --nav-width: 30%;
    --frame-width: 70vw;
    --message-frame: calc(var(--frame-width) * 0.7);
    --slider-width: calc(var(--frame-width) * var(--slider-number));
    --message-li-width: var(--message-frame);
    --message-width: calc(var(--message-li-width) * var(--slider-number));
  }  
}

@media screen and (max-width: 767px) {
  .list__item-img {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 767px) and (min-width: 426px) {
  :root {
    --nav-width: 30%;
    --frame-width: 90vw;
    --message-frame: calc(var(--frame-width) * 0.7);
    --slider-width: var(--frame-width) * var(--slider-number);
    --message-li-width: var(--message-frame);
    --message-width: calc(var(--message-li-width) * var(--slider-number));
  }
}

@media screen and (min-width: 426px) {
  .slider {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row-gap: 1rem;
    padding-bottom: 1rem;
  }
  .nav {
    width: 100%;
    justify-content: flex-end;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
    padding-right: 1rem;
    padding-left: 2rem;
    z-index: 2;
  }
  .message {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  :root {
    --frame-width: 90vw;
    --nav-width: var(--frame-width);
    --message-frame: var(--frame-width);
    --slider-width: var(--frame-width) * var(--slider-number);
    --message-li-width: var(--frame-width);
    --message-width: var(--slider-width);
  }
  .slider {
    display: flex;
    flex-direction: column;
    gap:.5rem
  }
  .list {
    order: 1;
  }
  .nav {
    order: 3;
    justify-content: center;
    width: 8rem;
    margin: 0 auto;
  }
  .message {
    order: 5;
    align-items: start;
  }
  #inp1 { order: 2;}
  #inp2 {
    order: 4;
  }
  #inp3 {
    order: 6;
  }
  #inp4 {
    order: 6;
  }
}