body {
  background-color: black;
}
* {
  font-size: 16px;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --frame-width: 70vw;
  --frame-height: 70vh;
  --slider-number: 4;
  --slider-width: var(--frame-width) * var(--slider-number);
  --bg-color: black;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

.section {
  width: fit-content;
  margin: 2rem auto;
  
}
.slider {  
  overflow: hidden;
  width: var(--frame-width);
  /*height: var(--frame-height);*/
  display: grid;
  grid-template-rows: 1fr 5rem;
  grid-template-columns: 70% 30%;
  border: solid 3px rgb(53, 52, 52);
  border-radius: 1rem;
  /*padding: 2rem;*/
}

.list {
  width: var(--slider-width);
  display: grid;
  grid-template-columns: repeat(var(--slider-number), 1fr);
  height: 100%;
  transition: 3s;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.list__item {
  width: var(--frame-width);
  /*background-size: contain;
  background-position: center bottom 5rem;
  background-repeat: no-repeat;
*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.list__item-title {
  margin: 0;
  padding: 1.6rem 30% 1.6rem 1rem;
  font-size: 1.5rem;
  background-color: var(--bg-color);
  width: 100%;
  box-sizing: border-box;
}
 .list__item-img {
   height: 100%;
   width: auto;
 }
 #slide1 {
   background-color: #56413a;
 }
 #slide3 {
   background-color: #c7b1a3;
 }
 #slide2, #slide4 {
   background-color: #fff;
 }
/*
#slide1 {
  background-image: url(./img/meme1.jpg);
}
#slide2 {
  background-image: url(./img/meme2.jpg);
  background-color: #fff;
}
#slide3 {
  background-image: url(./img/meme3.jpg);
}
#slide4 {
  background-image: url(./img/meme4.jpg);
}
*/
input[type='radio'] {
  width:0;
  height:0;
  margin: 0;
}

#inp1:checked ~ .list {
  transform: translateX(0%);
}
#inp2:checked ~ .list {
  transform: translateX(-100%);
}
#inp3:checked ~ .list {
  transform: translateX(-200%);
}
#inp4:checked ~ .list {
  transform: translateX(-300%);
}

.nav {
  width: min(100%, 12rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  z-index: 2;
}

label {  
  width: 25%;
  padding: 1rem .5rem;
  cursor: pointer;
  background-color: var(--bg-color);
}

label:hover .dot {
  background-color: brown;
}

.dot {
  width: min(100%, 2rem);
  height: min(100%, 2rem);
  aspect-ratio: 1/1;
  background-color: beige;
  border: solid 3px brown;
  border-radius: 50%;
  display: block;
}

#inp1:checked ~ .nav .label__slide1 .dot,
#inp2:checked ~ .nav .label__slide2 .dot,
#inp3:checked ~ .nav .label__slide3 .dot,
#inp4:checked ~ .nav .label__slide4 .dot {
  background-color: transparent;
}

.copyright {
  align-self:flex-end;
  padding-right: .5rem;
}
.copyright,
.copyright a {
  font-size: .8rem;
}

@media screen and (min-width: 1151px) {
  .list__item-img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 1150px) and (min-width: 768px) {
  .list__item-img {
      height: auto;
      width: 100%;
    }
  :root {
    --frame-width: 70vw;
    --slider-width: var(--frame-width) * var(--slider-number);
  }
}

@media screen and (max-width: 767px) {
:root {
    --frame-width: 90vw;
    --slider-width: var(--frame-width) * var(--slider-number);
  }
}