body {
  background-color: black;
}
* {
  font-size: 16px;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --frame-width: 70vw;
  --frame-height: 70vh;
  --slider-number: 4;
  --slider-width: var(--frame-width) * var(--slider-number);
  --bg-color: black;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

.section {
  width: fit-content;
  margin: 2rem auto;
  
}
.slider {  
  overflow: hidden;
  width: var(--frame-width);
  height: var(--frame-height);
  display: grid;
  grid-template-rows: 1fr 5rem;
  grid-template-columns: 70% 30%;
  border: solid 3px rgb(53, 52, 52);
    border-radius: 1rem;
    padding: 2rem;
}

.list {
  width: var(--slider-width);
  display: grid;
  grid-template-columns: repeat(var(--slider-number), 1fr);
  height: 100%;
  transition: 3s;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.list__item {
  width: var(--frame-width);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.list__item-title {
  margin: 0;
  padding: 1.6rem 30% 1.6rem 0;
  font-size: 1.5rem;
  background-color: var(--bg-color);
  width: 100%;
}

#slide1 {
  background-image: url(./img/meme1.jpg);
}
#slide2 {
  background-image: url(./img/meme2.png);
}
#slide3 {
  background-image: url(./img/meme3.jpg);
}
#slide4 {
  background-image: url(./img/meme4.png);
}

input[type='radio'] {
  width:0;
  height:0;
  margin: 0;
}

#inp1:checked ~ .list {
  transform: translateX(0%);
}
#inp2:checked ~ .list {
  transform: translateX(-100%);
}
#inp3:checked ~ .list {
  transform: translateX(-200%);
}
#inp4:checked ~ .list {
  transform: translateX(-300%);
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  z-index: 2;
  background-color: var(--bg-color);
}
label {
  width: 2rem; 
  height: 2rem;
  background-color: beige;
  border-color: red;
  border-radius: 50%;
  cursor: pointer;
  margin: 1rem 0 1rem 1rem;
}
label:hover {
  background-color: brown;
}

#inp1:checked ~ .nav .label__slide1,
#inp2:checked ~ .nav .label__slide2,
#inp3:checked ~ .nav .label__slide3,
#inp4:checked ~ .nav .label__slide4 {
  background-color: cadetblue;
}

.copyright {
  align-self:flex-end;
  padding-right: .5rem;
}
.copyright,
.copyright a {
  font-size: .8rem;
}